.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 20px;
}
.logo-icon {
  width: 32px;
  height: 32px; /* Doldur */
}
.nav-links {
  display: flex;
  gap: 24px;
}
.nav-link {
  text-decoration: none;
  color: #121417;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link.active {
  color: #0b63d8;
  font-weight: 600;
}

.auth-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.login-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  cursor: pointer;
}
.login-btn svg {
  width: 25px;
  height: 25px;
}
.register-btn {
  background-color: #121417;
  color: #fff;
  padding: 14px 32px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
